<div class="row white-bg page-heading">
  <div class="col-lg-2">
    <h2>联系我们url管理</h2>
  </div>
  <div style="margin-top: 0.8%">
    <%= link_to raw("&#xf067; 新建"), "/system_variables/new", class: 'fa-btn btn btn-primary', id: "new_contact_us_url" %>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight ecommerce">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-content">
          <table class="table-hover table table-stripped toggle-arrow-tiny">
            <thead>
              <td>
                id
              </td>
              <td>
                <%= t("currencies.name") %>
              </td>
              <td>
                <%= t("system_var.value") %>
              </td>
              <td>
                <%= t("public.comment") %>
              </td>
              <td>
                <%= t("system_var.update_time") %>
              </td>
              <td>
                <%= t("public.operation") %>
              </td>
            </thead>
            <tbody>
              <% @contact_us_urls.each do |contact_us_url| %>
              <tr>
                <td>
                  <%= contact_us_url.id %>
                </td>
                <td>
                  <%= contact_us_url.name %>
                </td>
                <td>
                  <%= contact_us_url.value %>
                </td>
                <td>
                  <%= contact_us_url.comment %>
                </td>
                <td>
                  <%= contact_us_url.updated_at.strftime "%Y-%m-%d %H:%M:%S" %>
                </td>
                <td colspan=2>
                  <%= link_to raw("&#xf044;#{t('public.edit')}"), edit_system_variable_path(contact_us_url.id),
                      class: "fa-btn btn btn-xs btn-default", target: "_blank"%>
                </td>
              </tr>
              <% end %>
            </tbody>
            <tfoot>
              <tr>
                <th colspan="19">
                  <ul class="pull-right"><%= paginate @contact_us_urls %></ul>
                </th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
