<div class="row white-bg page-heading">
  <div class="col-lg-10">
    <h2>k线配置项目</h2>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight ecommerce">

<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-content">

                <table class="table-hover table table-stripped toggle-arrow-tiny">
                    <thead>
                      <th>
                        <%= t("currencies.name") %>
                      </th>
                      <th>
                        <%= t("system_var.value") %>
                      </th>
                      <th>
                        <%= t("public.comment") %>
                      </th>
                      <th>
                        <%= t("system_var.update_time") %>
                      </th>
                      <th>
                        <%= t("public.operation") %>
                      </th>
                    </thead>
                    <tbody>
                      <%if !@preference.blank?%>
                        <% @preference.each do |each| %>
                          <tr>
                            <td>
                              <%= each.name %>
                            </td>
                            <td>
                              <%= each.value %>
                            </td>
                            <td>
                              <%= each.comment %>
                            </td>
                            <td>
                              <%= each.updated_at.strftime("%Y-%m-%d %H:%M:%S") %>
                            </td>
                            <td>
                              <%= link_to raw("&#xf044;#{t('public.edit')}"), edit_system_variable_path(each.id),
                                          class: "fa-btn btn btn-xs btn-default", target: "_blank"%>
                            </td>
                          </tr>
                        <%end%>
                      <%else%>
                        <tr>
                          <td colspan=99 style="text-align: center;">
                            <%= t("k_lines.record") %>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td colspan="11">
                          <ul class="pull-right"><%= paginate @preference %></ul>
                        </td>
                      </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    </div>
</div>
</div>
