<h3><%= t 'settings.change_password_title' %></h3>
<%= form_tag update_password_settings_path, method: 'put' do %>
  <table class='table table-hover table-striped table-bordered' style='width: 100%'>
    <tr>
      <td style='width: 20%; text-align: right'>
        <%= t 'settings.original_password' %>
      </td>
      <td style='width: 30%'>
        <%= password_field_tag :original_password, '', class: 'form-control'%>
      </td>
      <td>
        <%= t 'settings.validate_text_original_password' %>
      </td>

    </tr>
    <tr>
      <td style='width: 20%; text-align: right'>
        <%= t 'settings.new_password' %>
      </td>
      <td>
        <%= password_field_tag :new_password , '', class: 'form-control'%>
      </td>
      <td>
        <%= t 'settings.validate_text_new_password' %>
      </td>
    </tr>
    <tr>
      <td style='width: 20%; text-align: right'>
        <%= t 'settings.confirmed_new_password' %>
      </td>
      <td>
        <%= password_field_tag :confirmed_new_password, '', class: 'form-control' %>
      </td>
      <td>
        <%= t 'settings.validate_text_confirmed_new_password' %>
      </td>
    </tr>
    <tr>
      <td>
        <%= submit_tag t('settings.submit'), class: 'btn btn-primary' %>
      </td>
      <td colspan=2>
        <%= link_to t('settings.cancel'), 'javascript:history.back()', class: 'btn btn-default' %>
      </td>
    </tr>
  </table>
<% end %>
