<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= t('html.title', default: "管理员后台") %></title>
    <style>
      @media screen and (max-width: 700px) {
        .ibox .ibox-content {
          overflow-x: auto;
        }
        table tr th,
        table tr td {
          min-width: 80px;
        }
      }
      @media screen and (min-width: 700px) {
        table.table-hover.table.table-stripped.toggle-arrow-tiny {
          /*table-layout: fixed;*/
        }
        table tr th,
        table tr td {
          word-break: break-all;
        }
      }
    </style>

    <!-- Include style per-controller - vendor plugins -->
    <%#= stylesheet_link_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.css") %>

    <!-- Main css styles -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

    <!-- Main javascript files -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script src="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link href="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet">
    <script src="http://showmethemoney.sweetysoft.com/image_after_2019_06/1666/jquery.datetimepicker.full.min.js"></script>
    <link href="http://showmethemoney.sweetysoft.com/image_after_2019_06/1665/jquery.datetimepicker.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= favicon_link_tag get_fav_from_system_variables %>


</head>
<body>

<!-- Skin configuration box -->
<!-- <%= render 'layouts/skinconfig' %> -->

    <!-- Wrapper-->
    <div id="wrapper" class="<%= params[:controller] %>.<%= params[:action] %>">

        <!-- Navigation -->
        <%= render 'layouts/navigation' %>

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg <%= @extra_class %>">

            <!-- Page wrapper -->
            <%= render 'layouts/topnavbar' %>
            <%= render 'layouts/flash' %>
            <!-- Main view  -->
            <%= yield %>

            <!-- Footer -->
            <%= render 'layouts/footer' %>

        </div>
        <!-- End page wrapper-->

        <!-- Right sidebar -->
        <%#= render 'layouts/rightsidebar' %>

    </div>
    <!-- End wrapper-->

    <!-- Include javascript per-controller - vendor plugins -->
    <%#= javascript_include_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.js") %>

    <!-- Include javascript per-view -->
    <!-- For demo purpose we include javascript in view but you can easily start SeedProject and organize it with Rails asset pipeline as you want -->
    <%= yield :javascript %>

</body>
</html>
